table {
    border-collapse:collapse;
    text-align:left;
}


td {
    border: 1px solid #cccccc;
}

th, td {
    padding:4px;
}

thead {
    background-color: azure
}

thead tr {
    font-weight:bold;
}